*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.Inc_dec{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 180, 180);
  gap: 1rem;
}


.heading{
  color: black;
}


.btn1{
  padding: 0.51rem 1.6rem;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
  border-right: 1px solid rgb(122, 120, 120);
}

.btn2{
  padding: 0.51rem 1.6rem;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
  border-right: 1px solid rgb(122, 120, 120);

}
.btn3{
  padding: 0.51rem 1.6rem;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.reset_btn{
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: blueviolet;
  color: white;
}